# Load libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import BaggingClassifier, RandomForestClassifier
from shuyu import *

from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [2]:
# Import the data
%time df = pd.read_csv('train_ver2.csv',parse_dates=['fecha_dato','fecha_alta'])
df.head()

<string>:2: DtypeWarning: Columns (5,8,11,15) have mixed types. Specify dtype option on import or set low_memory=False.

CPU times: user 1min, sys: 16.5 s, total: 1min 16s
Wall time: 1min 22s

,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,...,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
0,2015-01-28,1375586,N,ES,H,35,2015-01-12,0.0,6,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
1,2015-01-28,1050611,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
2,2015-01-28,1050612,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
3,2015-01-28,1050613,N,ES,H,22,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
4,2015-01-28,1050614,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0

In [3]:
df.columns

Index(['fecha_dato', 'ncodpers', 'ind_empleado', 'pais_residencia', 'sexo',
       'age', 'fecha_alta', 'ind_nuevo', 'antiguedad', 'indrel',
       'ult_fec_cli_1t', 'indrel_1mes', 'tiprel_1mes', 'indresi', 'indext',
       'conyuemp', 'canal_entrada', 'indfall', 'tipodom', 'cod_prov',
       'nomprov', 'ind_actividad_cliente', 'renta', 'segmento',
       'ind_ahor_fin_ult1', 'ind_aval_fin_ult1', 'ind_cco_fin_ult1',
       'ind_cder_fin_ult1', 'ind_cno_fin_ult1', 'ind_ctju_fin_ult1',
       'ind_ctma_fin_ult1', 'ind_ctop_fin_ult1', 'ind_ctpp_fin_ult1',
       'ind_deco_fin_ult1', 'ind_deme_fin_ult1', 'ind_dela_fin_ult1',
       'ind_ecue_fin_ult1', 'ind_fond_fin_ult1', 'ind_hip_fin_ult1',
       'ind_plan_fin_ult1', 'ind_pres_fin_ult1', 'ind_reca_fin_ult1',
       'ind_tjcr_fin_ult1', 'ind_valo_fin_ult1', 'ind_viv_fin_ult1',
       'ind_nomina_ult1', 'ind_nom_pens_ult1', 'ind_recibo_ult1'],
      dtype='object')

In [4]:
display_all(df.head(5))

,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,ult_fec_cli_1t,indrel_1mes,tiprel_1mes,indresi,indext,conyuemp,canal_entrada,indfall,tipodom,cod_prov,nomprov,ind_actividad_cliente,renta,segmento,ind_ahor_fin_ult1,ind_aval_fin_ult1,ind_cco_fin_ult1,ind_cder_fin_ult1,ind_cno_fin_ult1,ind_ctju_fin_ult1,ind_ctma_fin_ult1,ind_ctop_fin_ult1,ind_ctpp_fin_ult1,ind_deco_fin_ult1,ind_deme_fin_ult1,ind_dela_fin_ult1,ind_ecue_fin_ult1,ind_fond_fin_ult1,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
0,2015-01-28,1375586,N,ES,H,35,2015-01-12,0.0,6,1.0,NaN,1,A,S,N,NaN,KHL,N,1.0,29.0,MALAGA,1.0,87218.10,02 - PARTICULARES,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
1,2015-01-28,1050611,N,ES,V,23,2012-08-10,0.0,35,1.0,NaN,1,I,S,S,NaN,KHE,N,1.0,13.0,CIUDAD REAL,0.0,35548.74,03 - UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
2,2015-01-28,1050612,N,ES,V,23,2012-08-10,0.0,35,1.0,NaN,1,I,S,N,NaN,KHE,N,1.0,13.0,CIUDAD REAL,0.0,122179.11,03 - UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
3,2015-01-28,1050613,N,ES,H,22,2012-08-10,0.0,35,1.0,NaN,1,I,S,N,NaN,KHD,N,1.0,50.0,ZARAGOZA,0.0,119775.54,03 - UNIVERSITARIO,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
4,2015-01-28,1050614,N,ES,V,23,2012-08-10,0.0,35,1.0,NaN,1,A,S,N,NaN,KHE,N,1.0,50.0,ZARAGOZA,1.0,NaN,03 - UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0

# Data cleaning

In [5]:
df = df.rename({'fecha_dato':'date','ncodpers':'customerid','ind_empleado':'employee_index','pais_residencia':'country_residence',
                'sexo':'gender','age':'age','fecha_alta':'date_of_first_holder_contract','ind_nuevo':'new_customer_index','antiguedad':'customer_seniority',
                'indrel':'primary_or_not','indrel_1mes':'customer_type_at_beginning_of_month',
                'tiprel_1mes':'customer_relation_at_beginning_of_month', 'indresi':'residence_index','indext':'foreigner_index',
                'canal_entrada':'channel','indfall':'decreased_index','tipodom':'address_type','cod_prov':'province_code','nomprov':'province_name',
                'ind_actividad_cliente':'active_or_not','renta':'gross_income','segmento':'segmentation','ind_ahor_fin_ult1':'saving_account',
                'ind_aval_fin_ult1':'guarantees','ind_cco_fin_ult1':'current_accounts','ind_cder_fin_ult1':'derivada_accounts','ind_cno_fin_ult1':'payroll_accounts',
                'ind_ctju_fin_ult1':'junior_accounts','ind_ctma_fin_ult1':'mas_particular_accounts','ind_ctop_fin_ult1':'particular_accounts',
                'ind_ctpp_fin_ult1':'particular_plus','ind_deco_fin_ult1':'short_term_deposits','ind_deme_fin_ult1':'medium_term_deposits',
                'ind_dela-fin_ult1':'long_term_deposits','ind_ecue_fin_ult1':'e_account','ind_fond_fin_ult1':'funds','ind_hip_fin_ult1':'mortgage',
                'ind_plan_fin_ult1':'pensions_plan','ind_pres_fin_ult1':'loans','ind_reca_fin_ult1':'tax','ind_tjcr_fin_ult1':'credit_card','ind_valo_fin_ult1':'securities',
                'ind_viv_fin_ult1':'home_account','ind_nomina_ult1':'payroll','ind_nom_pens_ult1':'pensions','ind_recibo_ult1':'direct_debit'},axis=1)

In [6]:
df.head()

,date,customerid,employee_index,country_residence,gender,age,date_of_first_holder_contract,new_customer_index,customer_seniority,primary_or_not,...,mortgage,pensions_plan,loans,tax,credit_card,securities,home_account,payroll,pensions,direct_debit
0,2015-01-28,1375586,N,ES,H,35,2015-01-12,0.0,6,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
1,2015-01-28,1050611,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
2,2015-01-28,1050612,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
3,2015-01-28,1050613,N,ES,H,22,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
4,2015-01-28,1050614,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0

In [7]:
df.isnull().sum()

date                                              0
customerid                                        0
employee_index                                27734
country_residence                             27734
gender                                        27804
age                                               0
date_of_first_holder_contract                 27734
new_customer_index                            27734
customer_seniority                                0
primary_or_not                                27734
ult_fec_cli_1t                             13622516
customer_type_at_beginning_of_month          149781
customer_relation_at_beginning_of_month      149781
residence_index                               27734
foreigner_index                               27734
conyuemp                                   13645501
channel                                      186126
decreased_index                               27734
address_type                                  27735
province_code                                 93591
province_name                                 93591
active_or_not                                 27734
gross_income                                2794375
segmentation                                 189368
saving_account                                    0
guarantees                                        0
current_accounts                                  0
derivada_accounts                                 0
payroll_accounts                                  0
junior_accounts                                   0
mas_particular_accounts                           0
particular_accounts                               0
particular_plus                                   0
short_term_deposits                               0
medium_term_deposits                              0
ind_dela_fin_ult1                                 0
e_account                                         0
funds                                             0
mortgage                                          0
pensions_plan                                     0
loans                                             0
tax                                               0
credit_card                                       0
securities                                        0
home_account                                      0
payroll                                       16063
pensions                                      16063
direct_debit                                      0
dtype: int64

In [71]:
df.dtypes

date                                       datetime64[ns]
customerid                                          int64
employee_index                                     object
country_residence                                  object
gender                                             object
age                                                object
date_of_first_holder_contract              datetime64[ns]
new_customer_index                                float64
customer_seniority                                 object
primary_or_not                                    float64
ult_fec_cli_1t                                     object
customer_type_at_beginning_of_month                object
customer_relation_at_beginning_of_month            object
residence_index                                    object
foreigner_index                                    object
conyuemp                                           object
channel                                            object
decreased_index                                    object
address_type                                      float64
province_code                                     float64
province_name                                      object
active_or_not                                     float64
gross_income                                      float64
segmentation                                       object
saving_account                                      int64
guarantees                                          int64
current_accounts                                    int64
derivada_accounts                                   int64
payroll_accounts                                    int64
junior_accounts                                     int64
mas_particular_accounts                             int64
particular_accounts                                 int64
particular_plus                                     int64
short_term_deposits                                 int64
medium_term_deposits                                int64
ind_dela_fin_ult1                                   int64
e_account                                           int64
funds                                               int64
mortgage                                            int64
pensions_plan                                       int64
loans                                               int64
tax                                                 int64
credit_card                                         int64
securities                                          int64
home_account                                        int64
payroll                                           float64
pensions                                          float64
direct_debit                                        int64
dtype: object

In [8]:
df = df.drop(['conyuemp','ult_fec_cli_1t'], axis=1)

In [9]:
df.dropna(inplace=True)

In [17]:
df.head()

,date,customerid,employee_index,country_residence,gender,age,date_of_first_holder_contract,new_customer_index,customer_seniority,primary_or_not,...,mortgage,pensions_plan,loans,tax,credit_card,securities,home_account,payroll,pensions,direct_debit
0,2015-01-28,1375586,N,ES,H,35,2015-01-12,0.0,6,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
1,2015-01-28,1050611,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
2,2015-01-28,1050612,N,ES,V,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
3,2015-01-28,1050613,N,ES,H,22,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
5,2015-01-28,1050615,N,ES,H,23,2012-08-10,0.0,35,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13647302,2016-05-28,1166767,N,ES,V,25,2013-08-14,0.0,33,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
13647303,2016-05-28,1166766,N,ES,V,25,2013-08-14,0.0,33,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
13647304,2016-05-28,1166765,N,ES,V,22,2013-08-14,0.0,33,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
13647305,2016-05-28,1166764,N,ES,V,23,2013-08-14,0.0,33,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
13647307,2016-05-28,1166789,N,ES,H,22,2013-08-14,0.0,33,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0

In [86]:
df.shape

(10795392, 46)

In [18]:
cat_var=[]
for column in df:
    if df[column].dtype=='object':
        cat_var.append(column)

In [21]:
cat_var.remove('age')

In [22]:
df['age']=df['age'].astype(int)

In [23]:
train_cats(df)

In [24]:
for i in cat_var:
    df[i] = df[i].cat.codes

In [28]:
df.dtypes

date                                       datetime64[ns]
customerid                                          int64
employee_index                                       int8
country_residence                                    int8
gender                                               int8
age                                                 int64
date_of_first_holder_contract              datetime64[ns]
new_customer_index                                float64
customer_seniority                                  int16
primary_or_not                                    float64
customer_type_at_beginning_of_month                  int8
customer_relation_at_beginning_of_month              int8
residence_index                                      int8
foreigner_index                                      int8
channel                                             int16
decreased_index                                      int8
address_type                                      float64
province_code                                     float64
province_name                                        int8
active_or_not                                     float64
gross_income                                      float64
segmentation                                         int8
saving_account                                      int64
guarantees                                          int64
current_accounts                                    int64
derivada_accounts                                   int64
payroll_accounts                                    int64
junior_accounts                                     int64
mas_particular_accounts                             int64
particular_accounts                                 int64
particular_plus                                     int64
short_term_deposits                                 int64
medium_term_deposits                                int64
ind_dela_fin_ult1                                   int64
e_account                                           int64
funds                                               int64
mortgage                                            int64
pensions_plan                                       int64
loans                                               int64
tax                                                 int64
credit_card                                         int64
securities                                          int64
home_account                                        int64
payroll                                           float64
pensions                                          float64
direct_debit                                        int64
dtype: object

In [26]:
df.isnull().sum()

date                                       0
customerid                                 0
employee_index                             0
country_residence                          0
gender                                     0
age                                        0
date_of_first_holder_contract              0
new_customer_index                         0
customer_seniority                         0
primary_or_not                             0
customer_type_at_beginning_of_month        0
customer_relation_at_beginning_of_month    0
residence_index                            0
foreigner_index                            0
channel                                    0
decreased_index                            0
address_type                               0
province_code                              0
province_name                              0
active_or_not                              0
gross_income                               0
segmentation                               0
saving_account                             0
guarantees                                 0
current_accounts                           0
derivada_accounts                          0
payroll_accounts                           0
junior_accounts                            0
mas_particular_accounts                    0
particular_accounts                        0
particular_plus                            0
short_term_deposits                        0
medium_term_deposits                       0
ind_dela_fin_ult1                          0
e_account                                  0
funds                                      0
mortgage                                   0
pensions_plan                              0
loans                                      0
tax                                        0
credit_card                                0
securities                                 0
home_account                               0
payroll                                    0
pensions                                   0
direct_debit                               0
dtype: int64

In [27]:
df.age

,date,customerid,employee_index,country_residence,gender,age,date_of_first_holder_contract,new_customer_index,customer_seniority,primary_or_not,...,mortgage,pensions_plan,loans,tax,credit_card,securities,home_account,payroll,pensions,direct_debit
0,2015-01-28,1375586,3,2,0,35,2015-01-12,0.0,263,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
1,2015-01-28,1050611,3,2,1,23,2012-08-10,0.0,292,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
2,2015-01-28,1050612,3,2,1,23,2012-08-10,0.0,292,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
3,2015-01-28,1050613,3,2,0,22,2012-08-10,0.0,292,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
5,2015-01-28,1050615,3,2,0,23,2012-08-10,0.0,292,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13647302,2016-05-28,1166767,3,2,1,25,2013-08-14,0.0,34,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
13647303,2016-05-28,1166766,3,2,1,25,2013-08-14,0.0,34,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
13647304,2016-05-28,1166765,3,2,1,22,2013-08-14,0.0,34,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
13647305,2016-05-28,1166764,3,2,1,23,2013-08-14,0.0,34,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0
13647307,2016-05-28,1166789,3,2,0,22,2013-08-14,0.0,34,1.0,...,0,0,0,0,0,0,0,0.0,0.0,0

In [94]:
df.shape

(10795392, 46)

In [30]:
df.to_csv('preprocessed_train.csv')

In [31]:
clean_df = pd.read_csv('preprocessed_train.csv')

In [32]:
clean_df.head()

,Unnamed: 0,date,customerid,employee_index,country_residence,gender,age,date_of_first_holder_contract,new_customer_index,customer_seniority,...,mortgage,pensions_plan,loans,tax,credit_card,securities,home_account,payroll,pensions,direct_debit
0,0,2015-01-28,1375586,3,2,0,35,2015-01-12,0.0,263,...,0,0,0,0,0,0,0,0.0,0.0,0
1,1,2015-01-28,1050611,3,2,1,23,2012-08-10,0.0,292,...,0,0,0,0,0,0,0,0.0,0.0,0
2,2,2015-01-28,1050612,3,2,1,23,2012-08-10,0.0,292,...,0,0,0,0,0,0,0,0.0,0.0,0
3,3,2015-01-28,1050613,3,2,0,22,2012-08-10,0.0,292,...,0,0,0,0,0,0,0,0.0,0.0,0
4,5,2015-01-28,1050615,3,2,0,23,2012-08-10,0.0,292,...,0,0,0,0,0,0,0,0.0,0.0,0

In [33]:
df.columns

Index(['date', 'customerid', 'employee_index', 'country_residence', 'gender',
       'age', 'date_of_first_holder_contract', 'new_customer_index',
       'customer_seniority', 'primary_or_not',
       'customer_type_at_beginning_of_month',
       'customer_relation_at_beginning_of_month', 'residence_index',
       'foreigner_index', 'channel', 'decreased_index', 'address_type',
       'province_code', 'province_name', 'active_or_not', 'gross_income',
       'segmentation', 'saving_account', 'guarantees', 'current_accounts',
       'derivada_accounts', 'payroll_accounts', 'junior_accounts',
       'mas_particular_accounts', 'particular_accounts', 'particular_plus',
       'short_term_deposits', 'medium_term_deposits', 'ind_dela_fin_ult1',
       'e_account', 'funds', 'mortgage', 'pensions_plan', 'loans', 'tax',
       'credit_card', 'securities', 'home_account', 'payroll', 'pensions',
       'direct_debit'],
      dtype='object')

In [37]:
target = clean_df[['saving_account', 'guarantees', 'current_accounts',
       'derivada_accounts', 'payroll_accounts', 'junior_accounts',
       'mas_particular_accounts', 'particular_accounts', 'particular_plus',
       'short_term_deposits', 'medium_term_deposits', 'ind_dela_fin_ult1',
       'e_account', 'funds', 'mortgage', 'pensions_plan', 'loans', 'tax',
       'credit_card', 'securities', 'home_account', 'payroll', 'pensions',
       'direct_debit']]

In [36]:
target

,saving_account,guarantees,current_accounts,derivada_accounts,payroll_accounts,junior_accounts,mas_particular_accounts,particular_accounts,particular_plus,short_term_deposits,...,mortgage,pensions_plan,loans,tax,credit_card,securities,home_account,payroll,pensions,direct_debit
0,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0
1,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0
2,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0
3,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0.0,0.0,0
5,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13647302,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0
13647303,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0
13647304,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0
13647305,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0
13647307,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0.0,0.0,0

In [44]:
predictors = clean_df.drop(['saving_account', 'guarantees', 'current_accounts',
       'derivada_accounts', 'payroll_accounts', 'junior_accounts',
       'mas_particular_accounts', 'particular_accounts', 'particular_plus',
       'short_term_deposits', 'medium_term_deposits', 'ind_dela_fin_ult1',
       'e_account', 'funds', 'mortgage', 'pensions_plan', 'loans', 'tax',
       'credit_card', 'securities', 'home_account', 'payroll', 'pensions',
       'direct_debit'], axis=1)

In [45]:
predictors.head()

,Unnamed: 0,date,customerid,employee_index,country_residence,gender,age,date_of_first_holder_contract,new_customer_index,customer_seniority,...,residence_index,foreigner_index,channel,decreased_index,address_type,province_code,province_name,active_or_not,gross_income,segmentation
0,0,2015-01-28,1375586,3,2,0,35,2015-01-12,0.0,263,...,1,0,150,0,1.0,29.0,31,1.0,87218.10,1
1,1,2015-01-28,1050611,3,2,1,23,2012-08-10,0.0,292,...,1,1,147,0,1.0,13.0,16,0.0,35548.74,2
2,2,2015-01-28,1050612,3,2,1,23,2012-08-10,0.0,292,...,1,0,147,0,1.0,13.0,16,0.0,122179.11,2
3,3,2015-01-28,1050613,3,2,0,22,2012-08-10,0.0,292,...,1,0,146,0,1.0,50.0,51,0.0,119775.54,2
4,5,2015-01-28,1050615,3,2,0,23,2012-08-10,0.0,292,...,1,0,147,0,1.0,45.0,47,0.0,22220.04,2